---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Education from "../components/Education.astro";
import Skills from "../components/Skills.astro";
import Language from "../components/Language.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <main>
    <Hero />
    <About />
    <Experience />
    <Projects />
    <Education />
    <Skills />
    <Language />
    <Footer />
  </main>
</Layout>
